body {
	background-color: #d8e7ff;
	background: linear-gradient(to right, #d8e7ff, #ffffff);
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	font-size: 4em;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
}

.selected{
	background-color: #498fff;
}

.infobox {
	margin: 1vw 20vw 0vw 20vw;
	font-size: 1em;
}

.miniheader{
	margin: 1vw auto 0vw auto;
}
